@font-face {
  font-family: "iconfont"; /* Project id 2710807 */
  src: url('iconfont.woff2?t=1642325214930') format('woff2'),
       url('iconfont.woff?t=1642325214930') format('woff'),
       url('iconfont.ttf?t=1642325214930') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofangzanting:before {
  content: "\e61d";
}

.icon-bofang2:before {
  content: "\e624";
}

.icon-bofang:before {
  content: "\e607";
}

.icon-bofang1:before {
  content: "\e778";
}

